<div ng-app="iServifast" ng-controller="favoritoCtrl">		
		<div class="p+">    
        <div class="container">
            <div class="card" ng-repeat="servicio in servicios" >
                <img  ng-src="{{servicio.imagen}}" width="200" >
                    <strong class="fs-headline display-block tc-red-900">
                        {{servicio.titulo}}
                    </strong>
                    <div class="paragraph fs-body-1 mt+">
                        <h1>{{servicio.descripcion}}</h1>   
                    </div>
                    <a href="#/Servicio/{{servicio.idServicio}}" class="btn btn--m btn--blue btn--flat" lx-ripple>Mas</a>
                    </div>
            </div>
            </div>
        </div>
</div>