<div ng-app="iServifast" ng-controller="homeCtrl">

  <link rel="stylesheet" href="styles/lumx.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/materialdesignicons.css">
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home - iServiFast</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript"
	src="http://info.template-help.com/files/ie6_warning/ie6_script.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript"
	src="js/AG_Foreigner_Light-Plain_400.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script type="text/javascript" src="js/jquery.faded.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 7]>
		 <link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen">
		 <script type="text/javascript" src="js/ie_png.js"></script>
		 <script type="text/javascript">
				ie_png.fix('.png, ul.tabs li a, ul.tabs li a span, ul.tabs li a span, figure img');
		 </script>
<![endif]-->
<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5.js"></script>
	<![endif]-->
</head>
<body id="page1">
	<div class="wrap">
		<div class="inner_cop">
			<!-- HLinks -->
		</div>
		<!-- header -->
		<div class="container3">
			<div id="tab1" class="tab_content">
				<div class="faded">
					<ul>
						<div id="slider">
							<div>
								<img style="width: 900px;height: 366px;" src="images/servicios1.jpg" /><p></p>
							</div>
							<div>
								<img src="images/servicio3.jpg" style="height: 366px;"/><p></p>
							</div>
							<div>
								<img src="images/servicio4.jpg" style="height: 366px;"/><p></p>
							</div>
							<div>
								<img src="images/servicio5.jpg" style="height: 366px;" /><p></p>
							</div>
							<div>
								<img src="images/comunidad.jpg" style=" height: 366px; width: 900px"/><p></p>
							</div>
							
						</div>
					</ul>
				</div>
			</div>

		</div>
		<div class = "container3" style="padding: 0">
		<div class="col-1">	
			<div class="home-block">
				<p style="margin: 0 "><h2 style="border-bottom: 1px solid #c0c0c0;margin: 0 "> Categorias:</h2></p>
				<div>
			<ul>
			<h3><li type="disc">Asistencia Técnica</li></h3>
			<h3><li type="disc">Cuidado Animal</li></h3>
			<h3><li type="disc">Jardinería</li></h3>
			<h3><li type="disc">Educativo</li></h3>
			<h3><li type="disc">Hospedaje</li></h3>
			<h3><li type="disc">Transporte</li></h3>
			<h3><li type="disc">Mantenimiento</li></h3>
			<h3><li type="disc">Salud</li></h3>
			<h3><li type="disc">Seguridad</li></h3>
			<h3><li type="disc">Doméstico</li></h3>
			<h3><li type="disc">Vestuario y Estética</li></h3>		
			</ul>
			</div>
			</div>
			</div>
			<div class="col-2">	
			<div class="home-block">
				<p style="margin: 0 "><h2 style="border-bottom: 1px solid #c0c0c0;margin: 0 "> Comunidades:</h2></p>
		
			<ul>
			<div class ="col-1" style="margin-right:30px ">
			<h3><li type="disc">Villa Los Héroes</li></h3>
			<h3><li type="disc">Villa O''Higgins</li></h3>
			<h3><li type="disc">Barrio Estoril</li></h3>
			<h3><li type="disc">Villa Olímpica</li></h3>
			<h3><li type="disc">Barrio Cottolengo</li></h3>
			<h3><li type="disc">Villa Macul</li></h3>
			<h3><li type="disc">Barrio Los Quillayes</li></h3>
			<h3><li type="disc">Barrio Manuel Montt</li></h3>
			<h3><li type="disc">Barrio Los Leones</li></h3>
			<h3><li type="disc">Barrio Lo Curro</li></h3>
			<h3><li type="disc">Barrio Ossandon</li></h3></div>
			<h3><li type="disc">Villa Frei</li></h3>
			<h3><li type="disc">Barrio Argentina</li></h3>
			<h3><li type="disc">Barrio Toesca</li></h3>
			<h3><li type="disc">Villa España</li></h3>
			<h3><li type="disc">Barrio Ciudad Satélite</li></h3>
			<h3><li type="disc">Barrio Capitán Ávalos</li></h3>
			<h3><li type="disc">Barrio Los Domínicos</li></h3>
			<h3><li type="disc">Barrio Los Trapenses</li></h3>	
			<h3><li type="disc">Barrio Villa Moderna</li></h3>	
			<h3><li type="disc">Barrio Resbalón</li></h3>	
			<h3><li type="disc">Barrio Vista Hermosa</li></h3>
				
			</ul>
			</div>
			</div>
		</div>
		

	</div>

	</div>
	<!-- footer -->
	<footer>
		<div class="container3">
			<div class="inside">
				<a>iServiFast </a>- Marca registrada <br>
				<!-- VLinks -->
			</div>
		</div>
	</footer>
</body>
<script type="text/javascript">
	//<![CDATA[
	$(function() {
		$('#slider div:gt(0)').hide();
		setInterval(function() {
			$('#slider div:first-child').fadeOut(90000).next('div').fadeIn(1000)
					.end().appendTo('#slider');
		}, 9000);
	});
	//]]>
</script>
</html>


</div>