<div ng-app="iServifast" ng-controller="serviciodetailCtrl">
    
	<div class="mt++ ng-scope"  flex-container="row" flex-gutter="42">
<div class="md-col-20">
    	<div flex-item="20" flex-item-order="1">
    		<div class="card">
					<strong class="fs-headline display-block tc-red-900">
						{{servicio.titulo}}
					</strong>
          <img ng-src="{{servicio.imagen}}">
					<div class="paragraph fs-body-1 mt+">
						<h4>Fecha: {{servicio.fecha}}</h4>
						<h4>Duracion: {{servicio.duracion}}</h4>
						<h1>{{servicio.descripcion}}</h1>	
					</div>
			</div>
		</div>
    <form ng-submit="addVoto()">
    	<div flex-item="4" flex-item-order="2">
    		<div flex-item="4">
        <div ng-if="check()">
		        <div class="card top-space">
        	        <div class="p+">
               		    <div flex-item>
                       		<lx-text-field label="calificacion">
                           		<input type="number" min="1" max="5" ng-model="form.nota">

                       		</lx-text-field>    
                       	</div>
                        	<button type="submit" class="btn btn--red btn--l btn--raised">
                        		Votar
                        	</button>
               		</div>          
            	</div>
              </div>
              </div>
              </div>
  </form>

      <div flex-item="4" flex-item-order="3">
  <form ng-submit="addFavorito()">
              <div class="card top-space">
                  <div class="p+">
                          <button type="submit" class="btn btn--red btn--l btn--raised">
                            Agregar a favorito
                          </button>
                  </div>          
              </div>
  </form>
  </div>
			</div>
		</div>
    </div>
	</div>
  </div>
  <div ng-if="check()">
    <div class="content-center">
    <div class="col-lg-10 col-centered">
    <dir-disqus disqus-shortname="iservifast"
            disqus-identifier="{{servicio.idServicio}}"
            disqus-title="{{servicio.titulo}}"
            disqus-url="http://104.236.79.2:9000/Servicio/{{servicio.idServicio}}"
            disqus-api-key="l2By4KUfHVPySTXvEnhlPtxVTZP8UjQmgclbQnxx8jBsE18cHhSPGjTIAg1LtT7U"
            
            ready-to-bind="{{ loaded }}"
            >
</dir-disqus>
    </div>
    </div>
    </div>


</div>