<div ng-app="iServifast" ng-controller="solicituddetalleCtrl">
    
  
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
	<div class="mt++ ng-scope"  flex-container="row" flex-gutter="42">
<div class="col-md-offset-2">
    	<div flex-item="20" flex-item-order="1">
    		<div class="card" >

            <div class="card__actions">
            <div class="card__img card__img--top">
                <img ng-src="{{solicitud.imagen}}" width="550">
                <span class="fs-headline tc-white-1 display-block">{{solicitud.titulo}}</span>
            </div>

                
            <div class="p+">
                <span class="fs-subhead tc-black-2 display-block">Precio: {{solicitud.precio}}</span>
                <span class="fs-subhead tc-black-2 display-block">Duracion: {{solicitud.duracion}}</span>
                <span class="fs-subhead tc-black-2 display-block">Fecha: {{solicitud.fecha}}</span>

                <div class="paragraph fs-body-1">
                    <p>
                        {{solicitud.descripcion}}
                    </p>
                </div>

            </div>
            </div>

        </div>
		</div>
   

  </div>
			</div>
		</div>
    </div>
	</div>
  </div>