<div ng-app="iServifast" ng-controller="servicioUSERCtrl">		

<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="styles/lumx.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/materialdesignicons.css">
		<div class="p+">    
        <div class="container">
            <div class="card" ng-repeat="servicio in servicios" >
                <img  ng-src="{{servicio.imagen}}" width="200" >
                    <strong class="fs-headline display-block tc-red-900">
                        {{servicio.titulo}}
                    </strong>
                    <div class="paragraph fs-body-1 mt+">
                        <h1>{{servicio.descripcion}}</h1>   
                    </div>
                    <a href="#/Servicio/{{servicio.idServicio}}" class="btn btn--m btn--blue btn--flat" lx-ripple>Mas</a>
                    <a class="btn btn--m btn--orange btn--flat" href="#/editar_servicio/{{servicio.idServicio}}"lx-ripple>Editar</a>
                    </div>
            </div>
            </div>
        </div>
</div>